.row-head {
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-size: 16px;
}

.param-detail {
    .el-row {
        height: auto;
        line-height: 40px;
    }
}

.table {
    width: 100%;
    border: 1px solid #ebeef5;
    border-spacing: 0px;
    text-align: center;
    border-bottom: none;

    tr,
    th,
    td {
        height: 36px;
        margin: 0;
        padding: 0;
    }

    td {
        border-bottom: 1px solid #ebeef5;
        padding: 4px;
    }

    .key {
        width: 120px;
        border-right: 1px solid #ebeef5;
    }

    .value {
        width: 400px;
    }
}
